:root {
    --main-bg-color: #fafafa; /* Light Grey */
    --main-font-color: #333; /* Dark Grey */
    --accent-color: #3178C6; /* Bright Blue */
    --font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.left-column {
    width: 25%;
    position: fixed;
    padding: 20px;
    color: var(--main-font-color);
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #f0f0f0; /* Lighter Grey */
}

.left-column h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-list li {
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.social-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-links img {
    width: 20px;
    height: 20px;
}

.right-column {
    margin-left: 25%;
    width: 75%;
    padding: 20px;
    overflow: auto;
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.intro, .work-history, .projects, .blog-posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.job, .project, .blog-post {
    display: flex;
    align-items: flex-start; /* Align to top for better readability */
    gap: 20px;
    border-bottom: 1px solid #ddd; /* Separator */
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.project img, .blog-post img {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Better image fitting */
    border-radius: 5px; /* Rounded corners for images */
}

.resume-link, .project-link {
    display: inline-block;
    margin: 20px 0;
    color: var(--accent-color);
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.resume-link:hover, .project-link:hover {
    background-color: var(--accent-color);
    color: white;
}

/* Responsive media query for screens less than or equal to 600px */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .left-column {
        position: static;
        width: 100%;
        height: auto;
    }

    .right-column {
        width: 100%;
        margin-left: 0;
        padding: 20px 0;
    }
}